body {
    background-color: greenyellow;
}
h1 {
    color: red;
    font-family: serif;
    font-size: 20px;
    margin-left: 20px;
}

#menu>ul {
    list-style-type: none;
}

#menu>ul>li {
    padding: 5px;
    background-color: aqua;
    border-radius: 5px;
    margin: 5px;
    width: 50px
}

.important {
    margin: 10px;
    padding: 5px;
    background-color: lightsteelblue;
    border: 1px black solid;
    text-align: left;
    width: 100px;
}


div.statique {
    position: static;
    padding: 20px;
    border: 3px solid coral;
    widht: 310px;
}

div.relative {
    position: relative;
    padding: 20px;
    left: 30px;
    border: 3px solid coral;
    widht: 310px;
}

img {
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: -1;
}